{
	env : {
		"es6"  : true,
		"amd"  : true,
		"node" : true
	},

	globals : {
		"setImmediate" : true,
		"not" : true
	},

	rules : {
		// Possible Errors
		"comma-dangle"            : 1,
		"no-cond-assign"          : 2,
		"no-constant-condition"   : 2,
		"no-control-regex"        : 1,
		"no-debugger"             : 1,	// should be 2 in production builds
		"no-dupe-args"            : 2,
		"no-dupe-keys"            : 2,
		"no-duplicate-case"       : 2,
		"no-empty"                : 1,
		"no-empty-character-class": 2,
		"no-ex-assign"            : 1,
		"no-extra-boolean-cast"   : 2,
		"no-extra-parens"         : [2, "functions"],
		"no-extra-semi"           : 1,
		"no-func-assign"          : 2,
		"no-inner-declarations"   : 2,
		"no-invalid-regexp"       : 2,
		"no-irregular-whitespace" : 2,
		"no-negated-in-lhs"       : 2,
		"no-obj-calls"            : 2,
		"no-regex-spaces"         : 1,
		"no-sparse-arrays"        : 1,
		"no-unexpected-multiline" : 1,
		"no-unreachable"          : 1,
		"use-isnan"               : 1,
		"valid-jsdoc"             : 0,
		"valid-typeof"            : 2,

		// Best Practices
		"no-eval"             : 2,
		"no-else-return"      : 1,
		"no-fallthrough"      : 1,
		"no-floating-decimal" : 2,
		"no-loop-func"        : 2,
		"no-implied-eval"     : 1,
		"no-invalid-this"     : 1,
		"no-lone-blocks"      : 1,
		"yoda"                : 1,

		// Variables
		"no-undef"             : 1,
		"no-unused-vars"       : 2,

		// Stylistic
		"arrow-parens"         : [1, "as-needed" ],
		"block-spacing"        : 1,
		"brace-style"          : [1, "stroustrup", { "allowSingleLine": true }],
		"camelcase"            : [1, {"properties": "always"}],
		"comma-spacing"        : [1, {"before": false, "after": true}],
		"comma-style"          : [1, "last"],
		"curly"                : [1, "multi-or-nest"],
		"linebreak-style"      : [1, "unix"],
		"no-array-constructor" : 1,
		"no-nested-ternary"    : 1,
		"no-trailing-spaces"   : 1,
		"keyword-spacing"      : 1,
		"space-before-blocks"  : 1,
		"space-infix-ops"      : 1,
	}
}