<% include ./partials/start %>
	
	<div class="content buttons">
        <a href="#" class="button">Sign up free</a>
        <a href="#" class="button button-lg">Try a template</a>
	</div>
	
<% include ./partials/end %>