<% include ./partials/start %>
	
	<div class="content buttons">
        <h1>Buttons</h1>
        <div class="button-container">

            <div class="button-state button-regular">
                <h3>Button</h3>
                <a href="" class="button">Start a Free Trial</a>
                <a href="" class="button button-wt">Start a Free Trial</a>
                <a href="" class="button button-teal">Start a Free Trial</a>
                <a href="" class="button button-coral">Start a Free Trial</a>
                <span class="bg-blue">
                    <a href="" class="button button-clear">Start a Free Trial</a>
                </span>

                <a href="" class="button button-sm">Try it free</a>
                <a href="" class="button button-sm button-sm-wt">Log in</a>
            </div>
            <div class="button-state button-hover">
                <h3>Hover State</h3>
                <a href="" class="button button-state_hover">Start a Free Trial</a>
                <a href="" class="button button-wt_hover">Start a Free Trial</a>
                <a href="" class="button button-teal_hover">Start a Free Trial</a>
                <a href="" class="button button-coral_hover">Start a Free Trial</a>
                <span class="bg-blue">
                    <a href="" class="button button-clear_hover">Start a Free Trial</a>
                </span>
            </div>
            <div class="button-state button-click">
                <h3>Click State</h3>
                <a href="" class="button button-state_click">Start a Free Trial</a>
            </div>
            <!-- <div class="buttons-reg">
                <a href="" class="button">Start a Free Trial</a>
                <a href="" class="button button-wt">Start a Free Trial</a>
                <a href="" class="button button-teal">Start a Free Trial</a>
                <a href="" class="button button-coral">Start a Free Trial</a>
                <span class="bg-blue">
                    <a href="" class="button button-clear">Start a Free Trial</a>
                </span>
            </div>

            <div class="buttons-small">
                <a href="" class="button button-sm">Try it free</a>
                <a href="" class="button button-sm button-sm-wt">Log in</a>
            </div> -->

        </div>
	</div>
	
<% include ./partials/end %>