<% include ./partials/start %>
	
	<div class="content buttons">
        <h1>Buttons</h1>
        <div class="button-container">

            <div class="buttons-reg">
                <a href="" class="button">Start a Free Trial</a>
                <a href="" class="button button-wt">Start a Free Trial</a>
                <a href="" class="button button-teal">Start a Free Trial</a>
                <a href="" class="button button-coral">Start a Free Trial</a>
                <span class="bg-blue">
                    <a href="" class="button button-clear">Start a Free Trial</a>
                </span>
            </div>

            <div class="buttons-small">
                <a href="" class="button button-sm">Try it free</a>
                <a href="" class="button button-sm button-sm-wt">Log in</a>
            </div>
            
        </div>
        
	</div>
	
<% include ./partials/end %>