<% include ./partials/start %>
    <div class="content core-values">
        <h1>Core Values</h1>
        <div class="values">
            <div class="value empathy">
                <img src="../images/core-values/1-empathy.png" alt="empathy">
                <h4>Start with empathy</h4>
                <p>We understand and value the perspectives of our customers and our fellow team members. At the heart of our company is a
                genuine understanding of our users and their pain points.</p>
            </div>
            <div class="value driven">
                <img src="../images/core-values/2-driven.png" alt="">
                <h4>Driven to succeed</h4>
                <p>We’re not here to punch-in-punch-out. We have the ambition to do exceptional work, grow fast, and win our market.</p>
            </div>
            <div class="value trust">
                <img src="../images/core-values/3-trust.png" alt="">
                <h4>Trust through transparency</h4>
                <p>We value authenticity and honesty towards our customers and each other. Our door is always open.</p>
            </div>
        </div>
        <div class="values">
            <div class="value balance">
                <img src="../images/core-values/4-balance.png" alt="">
                <h4>Build with balance</h4>
                <p>Growth takes balance, at the office and during off-hours. We weigh tradeoffs in decision-making, and prioritize health, wellness and taking time to reset.</p>
            </div>
            <div class="value learning">
                <img src="../images/core-values/5-learning.png" alt="">
                <h4>Always learning</h4>
                <p>We’re curious and relentlessly resourceful. We take time to learn new things, uncover insights and ask questions.</p>
            </div>
            <div class="value fun">
                <img src="../images/core-values/6-fun.png" alt="">
                <h4>Fun together</h4>
                <p>Together we foster a fun environment for ourselves and our customers to thrive in. Because we do better when we’re having a good time.</p>
            </div>
        </div>
    </div>
<% include ./partials/end %>