<% include ./partials/start %>
    <div class="content core-values">
        <h1>Core Values</h1>
        <div class="values">
            <div class="value empathy">
                <div class="img-container">
                    <img src="../images/core-values/1-empathy.svg" alt="empathy">
                </div>
                <h3>Start with<br><span>Empathy</span></h3>
                <p>We understand and value the perspectives of our customers and our fellow team members. At the heart of our company is a
                genuine understanding of our users and their pain points.</p>
            </div>
            <div class="value driven">
                <div class="img-container">
                    <img src="../images/core-values/2-driven.svg" alt="">
                </div>
                <h3>Driven to<br><span>Succeed</span></h3>
                <p>We’re not here to punch-in-punch-out. We have the ambition to do exceptional work, grow fast, and win our market.</p>
            </div>
            <div class="value trust">
                <div class="img-container">
                    <img src="../images/core-values/3-trust.svg" alt="">
                </div>
                <h3>Trust through<br><span>Transparency</span></h3>
                <p>We value authenticity and honesty towards our customers and each other. Our door is always open.</p>
            </div>
        </div>
        <div class="values">
            <div class="value balance">
                <div class="img-container">
                    <img src="../images/core-values/4-balance.svg" alt="">
                </div>
                <h3>Build with<br><span>Balance</span></h3>
                <p>Growth takes balance, at the office and during off-hours. We weigh tradeoffs in decision-making, and prioritize health, wellness and taking time to reset.</p>
            </div>
            <div class="value learning">
                <div class="img-container">
                    <img src="../images/core-values/5-learning.svg" alt="">
                </div>
                <h3>Always<br><span>Learning</span></h3>
                <p>We’re curious and relentlessly resourceful. We take time to learn new things, uncover insights and ask questions.</p>
            </div>
            <div class="value fun">
                <div class="img-container">
                    <img src="../images/core-values/6-fun.svg" alt="">
                </div>
                <h3>Fun<br><span>Together</span></h3>
                <p>Together we foster a fun environment for ourselves and our customers to thrive in. Because we do better when we’re having a good time.</p>
            </div>
        </div>
    </div>
<% include ./partials/end %>