<% include ./partials/start %>

	<div class="content">
		<h1>Logo</h1>
		<div class="logo">
			<div class="logo-wordmark">

				<div class="logo-block">
					<img class="logo-img rm-logo-full" src="../images/logo/svg/roadmunk-logo.svg" alt="roadmunk full logo">
					<div class="logo-links">
						<a download href="../images/logo/png/roadmunk-logo.png">PNG</a>
						<a download href="../images/logo/svg/roadmunk-logo.svg">SVG</a>
						<a download href="../images/logo/eps/roadmunk-logo.eps">EPS</a>
					</div>
				</div>

				<div class="logo-block">
					<img class="logo-img rm-logo-full" src="../images/logo/svg/roadmunk-logo-b.svg" alt="roadmunk full logo">
					<div class="logo-links">
						<a download href="../images/logo/png/roadmunk-logo-b.png">PNG</a>
						<a download href="../images/logo/svg/roadmunk-logo-b.svg">SVG</a>
					</div>
				</div>

				<div class="logo-block">
					<img class="logo-img rm-logo-full rm-logo-white" src="../images/logo/svg/roadmunk-logo-w.svg" alt="roadmunk full logo">
					<div class="logo-links">
						<a download href="../images/logo/png/roadmunk-logo-w.png">PNG</a>
						<a download href="../images/logo/svg/roadmunk-logo-w.svg">SVG</a>
					</div>
				</div>

				<div class="logo-block">
					<img class="logo-img rm-logo-full" src="../images/logo/svg/roadmunk-logo-alt.svg" alt="roadmunk full logo">
					<div class="logo-links">
						<a download href="../images/logo/png/roadmunk-logo-alt.png">PNG</a>
						<a download href="../images/logo/svg/roadmunk-logo-alt.svg">SVG</a>
					</div>
				</div>

			</div>
			<div class="logo-icon">

				<div class="logo-block">
					<img class="logo-img rm-logo-icon" src="../images/logo/svg/roadmunk-icon.svg" alt="roadmunk icon">
					<div class="logo-links">
						<a download href="../images/logo/png/roadmunk-icon.png">PNG</a>
						<a download href="../images/logo/svg/roadmunk-icon.svg">SVG</a>
						<a download href="../images/logo/eps/roadmunk-icon.eps">EPS</a>
					</div>
				</div>

				<div class="logo-block">
					<img class="logo-img rm-logo-icon" src="../images/logo/svg/roadmunk-icon-b.svg" alt="roadmunk icon">
					<div class="logo-links">
						<a download href="../images/logo/png/roadmunk-icon-b.png">PNG</a>
						<a download href="../images/logo/svg/roadmunk-icon-b.svg">SVG</a>
					</div>
				</div>

				<div class="logo-block">
					<img class="logo-img rm-logo-icon rm-logo-white" src="../images/logo/svg/roadmunk-icon-w.svg" alt="roadmunk icon">
					<div class="logo-links">
						<a download href="../images/logo/png/roadmunk-icon-w.png">PNG</a>
						<a download href="../images/logo/svg/roadmunk-icon-w.svg">SVG</a>
					</div>
				</div>

			</div>
		</div><!-- closes .logo-->
	</div><!-- closes content-->
	
<% include ./partials/end %>