<% include ./partials/start %>

	<div class="content logo">
		<h1>Logo</h1>
		<div class="logo-block">
			<img class="logo-img rm-logo-full" src="../images/logo/roadmunk-logo.svg" alt="roadmunk full logo">
			<div class="logo-links">
				<a download href="../images/logo/roadmunk-logo.png">PNG</a>
				<a download href="../images/logo/roadmunk-logo.svg">SVG</a>
				<a download href="../images/logo/roadmunk-logo.eps">EPS</a>
			</div>
		</div>
		<div class="logo-block">
			<img class="logo-img rm-logo-icon" src="../images/logo/roadmunk-icon.svg" alt="roadmunk icon">
			<div class="logo-links">
				<a download href="../images/logo/roadmunk-icon.png">PNG</a>
				<a download href="../images/logo/roadmunk-icon.svg">SVG</a>
				<a download href="../images/logo/roadmunk-icon.eps">EPS</a>
			</div>
			
		</div>
	</div>
	
<% include ./partials/end %>