<% include ./partials/start %>

	<div class="content product-to-product">
		<h1>Product to Product</h1>
		<section class="ptop-personality">
			<div class="ptop-personality_content">
				<h2>Our Personality</h2>
				<p>As a brand, we are a reflection of what a product manager strives to become in their career.</p>
			</div>
			<div class="personality-values_list">
				<div class="personality-value">
					<h3>Creative</h3>
					<ul>
						<li>Inspired</li>
						<li>Inventive</li>
						<li>Bold</li>
					</ul>
				</div>
				<div class="personality-value">
					<h3>Real</h3>
					<ul>
						<li>Empathetic</li>
						<li>Raw</li>
						<li>Discerning</li>
					</ul>
				</div>
				<div class="personality-value">
					<h3>Perceptive</h3>
					<ul>
						<li>Forward-thinking</li>
						<li>Ever-evolving</li>
						<li>Prescient</li>
					</ul>
				</div>
				<div class="personality-value">
					<h3>Ecclective</h3>
					<ul>
						<li>Individual</li>
						<li>Fun!</li>
						<li>Diverse interests</li>
					</ul>
				</div>
			</div>
		</section>

		<hr>

		<!-- color palette -->
		<section class="ptop-colors">
			<div class="ptop-colors_content">
				<h2>Colour Palette</h2>
				<p>The palette is composed of a wide range of colours varying in hue and saturation. This creates opportunities for unexpected combinations.</p>
			</div>
			<div class="ptop-colors_blocks">
				<div class="color-block_row">
					<div class="color-block_container">
						<div class="color-block black"></div>
						<p>#000000</p>
					</div>
				</div>
				<div class="color-block_row">
					<div>
						<div class="color-block light-blue"></div>
						<p>#84e3dc</p>
					</div>
					<div>
						<div class="color-block yellow"></div>
						<p>#ffdf29</p>
					</div>
					<div>
						<div class="color-block coral"></div>
						<p>#fd7760</p>
					</div>
					<div>
						<div class="color-block navy"></div>
						<p>#1f439b</p>
					</div>
					<div>
						<div class="color-block green"></div>
						<p>#00bd81</p>
					</div>
				</div>
			</div>
		</section>

		<hr>

		<section class="ptop-logo">
			<div class="ptop-logo_content">
				<h2>Logo</h2>
				<p>The Product to Product logotype resembles building blocks, with a weight and geometry that allows it to stack. It can be arranged to flex between three lockups.</p>
				<p>The Roadmunk logo is always present alongside the Product to Product logo.</p>
			</div>
			<div class="ptop-logo_imgs">
				<img src="../images/product-to-product/ptop-logo1.svg" alt="">
				<img src="../images/product-to-product/ptop-logo2.svg" alt="">
				<img src="../images/product-to-product/ptop-logo3.svg" alt="">
			</div>
		</section>
		<!-- <div class="ptop-logos">
			<img src="../images/product-to-product/p-to-p-1.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-2.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-3.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-4.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-5.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-6.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-7.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-8.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-9.svg" alt="product-to-product logo">
		</div> -->

		<hr>

		<section class="ptop-events">
			<div class="ptop-events_content">
				<h2>Events</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quos dolore placeat culpa consequatur, laudantium illum. Possimus nesciunt omnis beatae?</p>
			</div>
			<div class="ptop-events_imgs">
				<!-- <img src="../images/product-to-product/ptop-medium.svg" alt=""> -->
				<img class="events_example" src="../images/product-to-product/ptop-event-example.svg" alt="">
			</div>
		</section>

		<hr>

		<section class="ptop-podcast">
			<div class="ptop-podcast_content">
				<h2>Podcast</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quos dolore placeat culpa consequatur, laudantium illum. Possimus nesciunt omnis beatae?</p>
			</div>
			<div class="ptop-podcast_imgs">
				<img class="pod_logo" src="../images/product-to-product/ptop-podcast.svg" alt="">
				<img class="pod_example"src="../images/product-to-product/ptop-podcast-example.png" alt="">
			</div>
		</section>

		<hr>

		<section class="ptop-blog">
			<div class="ptop-blog_content">
				<h2>Blog</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quos dolore placeat culpa consequatur, laudantium illum. Possimus nesciunt omnis beatae?</p>
			</div>
			<div class="ptop-blog_imgs">
				<img class="blog_logo" src="../images/product-to-product/ptop-medium.svg" alt="">
			</div>
		</section>

	</div>
	
<% include ./partials/end %>