<% include ./partials/start %>

	<div class="content product-to-product">
		<h1>Product to Product</h1>
		<div class="ptop-colors">
			<div>
				<div class="color-block light-blue"></div>
				<p>Light Blue</p>
				<p>#84e3dc</p>
			</div>
			<div>
				<div class="color-block yellow"></div>
				<p>Yellow</p>
				<p>#ffdf29</p>
			</div>
			<div>
				<div class="color-block coral"></div>
				<p>Coral</p>
				<p>#fd7760</p>
			</div>
			<div>
				<div class="color-block navy"></div>
				<p>Navy</p>
				<p>#1f439b</p>
			</div>
			<div>
				<div class="color-block green"></div>
				<p>Green</p>
				<p>#00bd81</p>
			</div>
		</div>
		<div class="ptop-logos">
			<img src="../images/product-to-product/p-to-p-1.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-2.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-3.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-4.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-5.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-6.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-7.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-8.svg" alt="product-to-product logo">
			<img src="../images/product-to-product/p-to-p-9.svg" alt="product-to-product logo">
		</div>
	</div>
	
<% include ./partials/end %>