<% include ./partials/start %>
    <div class="content typography">
        <div class="font-family">
            <h4>Font family</h4>
            <span class="ws-regular">Work Sans Regular</span>
            <span class="ws-medium">Work Sans Medium</span>
            <span class="ws-semibold">Work Sans SemiBold</span>
        </div>

        <h4>Typography</h4>
        <div class="heading">
            <div class="style">
                <h1>h1 Main Header</h1>
                <span>font-family: Work Sans</span>
                <span>font-weight: 500 (Medium)</span>
                <span>font-size: 47px</span>
                <span>letter-spacing: -1px</span>
                <span class="color_primary-text">color: @primary-text / #2b343c</span>
            </div>
            <div class="example">
                <h1>Simple & powerful roadmapping</h1>
                <ul>
                    <li>Main header font for homepage</li>
                    <li>Should only be used once on a screen/page</li>
                </ul>
            </div>
        </div>
        
        <div class="heading">
            <div class="style">
                <h2>h2 Section Header</h2>
                <span>font-family: Work Sans</span>
                <span>font-weight: 500 (Medium)</span>
                <span>font-size: 38px</span>
                <span>letter-spacing: -1px</span>
                <span class="color_primary-text">color: @primary-text / #2b343c</span>
            </div>
            <div class="example">
                <h2>Why you’ll love Roadmunk</h2>
                <ul>
                    <li>Should only be used to separate major sections on a page</li>
                    <li>Keep character limit small</li>
                </ul>
            </div>
        </div>

        <div class="heading">
            <div class="style">
                <h3>h3 Box Link Header</h3>
                <span>font-family: Work Sans</span>
                <span>font-weight: 500 (Medium)</span>
                <span>font-size: 30px</span>
                <span>letter-spacing: -1px</span>
                <span class="color_primary-text">color: @primary-text / #2b343c</span>
            </div>
            <div class="example">
                <h3>Your data is safe in Roadmunk.</h3>
                <h3 class="quote">We’re positioned to be transparent...</h3>
                <ul>
                    <li>Used for links that are split into 2 or 3 columns</li>
                    <li>This is for the title of the link. Pair with p-paragraph</li>
                    <li>Use for quote in 400 weight (Regular)</li>
                </ul>
            </div>
        </div>

        <div class="heading">
            <div class="style">
                <h4>h4 tab content</h4>
                <span>font-family: Work Sans</span>
                <span>font-weight: 600 (Semi-bold)</span>
                <span>font-size: 20px</span>
                <span>letter-spacing: -1px</span>
                <span class="color_primary-text">color: @primary-text / #2b343c</span>
            </div>
            <div class="example">
                <h4>Boardroom-worthy visuals</h4>
                <h4>Start Learning ></h4>
                <ul>
                    <li>Use when there is a selection to make, or tabbed headers</li>
                    <li>Colour will change from grey to either black or blue</li>
                    <li>Use for text links that appear with ‘p-section text’</li>
                </ul>
            </div>
        </div>

        <div class="heading">
            <div class="style">
                <p class="section">p section text</p>
                <span>font-family: Work Sans</span>
                <span>font-weight: 400 (Regular)</span>
                <span>font-size: 20px</span>
                <span class="color_secondary-text">color: @secondary-text / #727272</span>
            </div>
            <div class="example">
                <p class="section">Roadmap across multiple products, portfolios and teams. Build and manage individual roadmaps, then merge them together into a Master.</p>
                <ul>
                    <li>Sub title to be used largely with h1 & h2</li>
                    <li>Meant to highlight a small paragraph of text where Regular 1 would be too small</li>
                </ul>
            </div>
        </div>

        <div class="heading">
            <div class="style">
                <p class="section-lg">p paragraph large</p>
                <span>font-family: Work Sans</span>
                <span>font-weight: 400 (Regular)</span>
                <span>font-size: 17px</span>
                <span>letter-spacing: -1px</span>
                <span class="color_secondary-text">color: @secondary-text / #727272</span>
            </div>
            <div class="example">
                <p class="section-lg">We’re certified with the world’s leading standard for information security management systems. Roadmunk is fully ISO/IEC 27001:2013 Compliant.</p>
                <ul>
                    <li>Main style for longer sections of copy</li>
                    <li>Appears in grey as default and black when selected</li>
                </ul>
            </div>
        </div>
        
        <div class="heading">
            <div class="style">
                <a href="#">anchor hyperlink</a>
                <span>font-family: Work Sans</span>
                <span>font-weight: 600 (Semi-bold)</span>
                <span>font-size: 17px</span>
                <span class="color_blue-50">color: @blue-50 / #0074e0</span>
            </div>
            <div class="example">
                <a href="#">Learn more about our Jira integration ></a>
                <ul>
                    <li>Use this for hyperlinks within or ending a paragraph</li>
                    <li>Small arrow animation > Arrow shifts to the right on hover</li>
                    <li>Diagonal arrow shows ...</li>
                </ul>
            </div>
        </div>
        
    </div>
<% include ./partials/end %>



