.colors {
    width   : 100%;
    padding : 50px;
    h3 { margin-bottom : 10px; }
    .color-title {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        button {
            padding    : 7px 15px;
            background : white;
            margin     : 0;
            font-size  : 14px;
            &.selected {
                border        : none;
                border-bottom : 2px solid @blue-50;
                color         : @blue-50;
                font-weight   : 500;
            }
            &:not(.selected) {
                border : none;
                color  : @grey-30;
            }
            &:hover { cursor : pointer; }
        }
    }
    .color-rgb { display : none; }
    .primary-colors,
    .secondary-colors {
        display : flex;
        .color-block {
            list-style-type : none;
            width           : 25%;
            justify-content : space-between;
            padding-left    : 0;
            font-size       : 14px;
            margin-right    : 1%;
            li {
                display         : flex;
                padding         : 5px 30px;
                justify-content : space-between;
                color           : #fff;
                p {
                    flex-direction : row;
                    &.color-code:hover { cursor : pointer; }
                }
                &[class$="blue-5"],
                &[class$="blue-10"] {
                    color : @blue-60;
                }
                &[class$="sky-5"],
                &[class$="sky-10"] {
                    color : @sky-60;
                }
                &[class$="teal-5"],
                &[class$="teal-10"] {
                    color : @teal-60;
                }
                &[class$="coral-5"],
                &[class$="coral-10"] {
                    color : @coral-60;
                }
                &[class$="green-10"] {
                    color : @green-60;
                }
                &[class$="yellow-10"]{
                    color : @yellow-60;
                }
                &[class$="indigo-10"] {
                    color : @indigo-60;
                }
                &[class$="slate-10"]{
                    color : @slate-60;
                }
                &[class$="-50"] {
                    padding : 25px 30px;
                }
            }
        }
    }
}