.colors {
    width : 100%;
    padding: 50px;
    .primary-colors,
    .secondary-colors {
        display: flex;
        .color-block {
            list-style-type: none;
            width: 100%;
            max-width: 300px;
            padding-left: 0;
            font-size: 14px;
            margin: 10px 15px 10px 0;
            li {
                display: flex;
                padding: 8px 30px;
                justify-content: space-between;
                color: #fff;
                p {
                    flex-direction: row;
                }
                &[class$="blue-5"],
                &[class$="blue-10"] {
                    color : @blue-60;
                }
                &[class$="sky-5"],
                &[class$="sky-10"] {
                    color : @sky-60;
                }
                &[class$="teal-5"],
                &[class$="teal-10"] {
                    color : @teal-60;
                }
                &[class$="coral-5"],
                &[class$="coral-10"] {
                    color : @coral-60;
                }
                &[class$="green-10"] {
                    color : @green-60;
                }
                &[class$="yellow-10"]{
                    color : @yellow-60;
                }
                &[class$="indigo-10"] {
                    color : @indigo-60;
                }
                &[class$="slate-10"]{
                    color : @slate-60;
                }
                &[class$="-50"] {
                    padding : 30px;
                }
            }
        }
    }
}