aside {
    height     : 100%;
    width      : 230px;
    position   : fixed;
    z-index    : 1;
    top        : 0;
    left       : 0;
    overflow-x : hidden;
    background : @aside-bg;
    ul {
        padding-left    : 0px;
        margin          : 0;
        list-style-type : none;
        display         : flex;
        flex-direction  : column;
        li {
            border-bottom : 1px solid @light-grey;
            a {
                text-decoration : none;
                font-size       : 16px;
                display         : block;
                padding         : 17px 20px;
                color           : @primary-text;
                &:hover:not(.nav-logo) {
                    background : #fff;
                }
            }
        }
        .rm-logo {
            width : 180px;
        }
    }
    .hide {  display : none; }
    #expand {
        position : relative;
        &::after {
            content  : '+';
            position : absolute;
            right    : 15px;
            top      : 17px;
        }
    }
    #dropdown {
        li {
            a {
                padding-left : 50px;
                background   : #e5e8e9;
                &:hover { background : #fff; }
            }
        }
    }
    &.nav-closed { left : -230px; }
}
#nav-toggle {
    width           : 20px;
    background      : rgba(242, 245, 247, 0.5);
    height          : 100%;
    position        : fixed;
    left            : 230px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    color           : @grey-40;
    .transition(0.2s all ease);
    &::after {
        position : absolute;
        content  : '<';
    }
    &:hover {
        background : rgba(223, 225, 226, 0.7);
        cursor     : pointer;
    }
    &.nav-closed { 
        left : 0;
        &::after {
            content : '>';
        }
    }
}