.product-to-product {
    .color-block {
        display : inline-block;
        width   : 150px;
        height  : 85px;
    }
    .ptop-colors > div {
        display : inline-block;
        border  : 1px solid black;
        margin: 5px;
        p {
            margin       : 5px 0;
            padding-left : 5px;
        }
    }
    .light-blue { background-color : #84e3dc; }
    .yellow { background-color : #ffdf29; }
    .coral { background-color : #fd7760; }
    .navy { background-color : #1f439b; }
    .green { background-color : #00bd81; }
    .ptop-logos {
        img {
            width: 150px;
            margin: 0;
        }
    }
}