<!DOCTYPE HTML>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='styles/styles.css'/>
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
	</head>

	<body>
		<aside class="aside">
			<ul>
				<li><a href="/" class="nav-logo"><img src="../images/navigation/roadmunk-logo.svg" class="rm-logo" alt="Roadmunk"></a></li>
				
				<li><a href="/color-palette">Color Palette</a></li>
				<li><a href="/typography">Typography</a></li>
				<li><a href="" id="expand">Components</a></li>
				<ul id="dropdown" class="hide">
					<li><a href="/buttons">Buttons</a></li>
					<li><a href="/blocks">Blocks</a></li>
					<li><a href="/forms">Forms</a></li>
				</ul>
				<!-- <li><a href="" id="expand">Branding</a></li> -->
				<!-- <ul id="dropdown" class="hide"> -->
					<li><a href="/logo">Logo</a></li>
					<li><a href="/core-values">Core Values</a></li>
					<li><a href="/product-to-product">Product to Product</a></li>
				<!-- </ul> -->
				
				<li><a href="/illustrations">Illustrations</a></li>
				<li><a href="/photography">Photography</a></li>
				<li><a href="/voice">Voice & Tone</a></li>
			</ul>
		</aside>
		<div id="nav-toggle"></div>
	<!-- closing body tag is in end.ejs -->