<!DOCTYPE HTML>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='styles/styles.css'/>
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
	</head>

	<body>
		<aside>
			<ul>
				<li><a href="/" class="nav-logo"><img src="../images/navigation/roadmunk-logo.svg" class="rm-logo" alt="Roadmunk"></a></li>
				<li><a href="/logo">Logo</a></li>
				<li><a href="/color-palette">Color Palette</a></li>
				<li><a href="/typography">Typography</a></li>
				<li><a href="" id="expand">Components +</a></li>
				<ul id="dropdown" class="hide">
					<li><a href="/buttons">Buttons</a></li>
					<li><a href="/blocks">Blocks</a></li>
					<li><a href="/forms">Forms</a></li>
				</ul>
				<li><a href="/branding">Branding</a></li>
				<li><a href="/illustrations">Illustrations</a></li>
				<li><a href="/photography">Photography</a></li>
			</ul>
		</aside>
	<!-- closing body tag is in end.ejs -->